<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       <context:component-scan base-package="com.dacas.dao"/>
       <context:property-placeholder location="classpath:db.properties"/>
       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
              <property name="password" value="${jdbc.password}"/>
              <property name="url" value="${jdbc.jdbcUrl}"/>
              <property name="username" value="${jdbc.user}"/>
              <property name="driverClassName" value="${jdbc.driverClass}"/>
       </bean>
       <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
              <property name="database" value="MYSQL"/>
              <property name="showSql" value="true"/>
              <property name="generateDdl" value="false"/>
              <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
       </bean>
       <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
              <property name="packagesToScan" value="com.dacas.data"/><!--自动扫描com.dacas.data包下的类文件-->
       </bean>
       <!--JPA事务管理器-->
       <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="emf"/>
              <property name="jpaDialect" ref="jpaDialect"/>
       </bean>
       <!--装配一个EclipseLinkJpaDialect实现-->
       <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect"/>
       <!--配置TransactionTemplate-->
       <!--采用编码式的事务管理方案-->
       <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
              <property name="transactionManager" ref="transactionManager"/>
       </bean>

       <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
       <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
</beans>